[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
bootloader = { version = "0.9", features = ["map_physical_memory"] }
spin = "0.9"
volatile = "0.2.6"
x86_64 = "0.15"
bitflags = { version = "2", default-features = false }