[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[dependencies]
bootloader = "0.9"

# プロファイル設定はワークスペース側に移すのが正道だが、
# ひとまず残していても動作には影響しない
[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
